{% extends 'base.html' %}

{% block title %}Country{% endblock %}
{% block content %}

{% include 'accounts/search.html' %}

<div class="card">
    <div class="card-header">
        <h2 class="card-title">Users</h2>
        <a href="{% url 'accounts:add_user' %}" class="btn btn-primary">Add User</a>
    </div>
    <div class="card-body">
        <table class="table">
            <tr>
                <th>Username</th>
                <th>Email</th>
                <th>FirstName</th>
                <th>LastName</th>
                <th>Contact</th>
                <th>is_active</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
            {% for user in users %}
            <tr>
                <td>{{ user.username }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.firstname }}</td>
                <td>{{ user.lastname }}</td>
                <td>{{ user.contact }}</td>
                <td><input type="checkbox" checked="{{ user.is_active }}"></td>
                <td><a class="btn btn-warning" href="{% url 'accounts:edit_user' user.id %}">Edit</a></td>
                <td><a class="btn btn-danger" href="{% url 'accounts:delete_user' user.id %}">Delete</a></td>
            </tr>
            {% endfor %}
        </table>
    </div>
</div>
{% endblock %}